<!DOCTYPE html>
<html>
  <head>
    <title><%= titolo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
    <h1><%= titolo %></h1>
    <p><%= msg %></p>
		<a href='signup'>Sign Up</a><br />
    <a href='login'>Log in</a><br />
    <a href='restricted'>Private Area</a><br />
    <a href='view'>Administrator Area</a><br />
    <a href='logout'>Log out</a><br />
  </body>
</html>