<!DOCTYPE html>
<html>
  <head>
    <title>I tuoi dati</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
    <h1>I tuoi dati</h1>
    username: <%= user.username %>
    <br />
    email: <%= user.dati.email %>
    <br /> 
    <a href='\'>Torna alla home</a>
  </body>
</html>